@inherits LayoutComponentBase

<div class="page">
    <header class="header">
        <div class="container">
            <a class="logo" href="/">The Reel Deal Fish Market</a>
            
            
        </div>
    </header>

    <nav class="nav-container">
        <ul class="nav-links">
            <li><NavLink class="nav-link" href="/">Hem</NavLink></li>
            <li><NavLink class="nav-link" href="/cart">Varukorg</NavLink></li>
        </ul>
    </nav>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>