@page "/"

@inject WebshopApi webshopApi


@if (products != null && products.Count > 0)
{
    <div class="product-list-container">
        <h3>Våra Produkter</h3>
        <ul>
            @foreach (var product in products)
            {
                <li>
                    <a href="/productdetails/@product.Id">
                        <img src="@product.ImageUrl" alt="@product.Name" />
                        <br />
                        @product.Name
                        <br />
                        <strong>@product.Price kr</strong> 
                    </a>
                </li>
            }
        </ul>
    </div>

}
else
{
    <p>Loading products...</p>
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Fetching products...");
        products = await webshopApi.GetProductsAsync();
        Console.WriteLine("Finished fetching products.");
    }
}
